@media (max-width: 1024px) {
  main {
    grid-template-columns: 280px 1fr;
    gap: 1.5rem;
    padding: 1.5rem;
  }
}

.left-toggle {
  display: none;
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .header-text h1 {
    font-size: 2rem;
    line-height: 0.8;
  }

  .header-text small {
    font-size: 1rem;
  }

  /* Header */

    header {
    padding-top: 3rem;
  }

  .header-top {
    flex-direction: column;
    gap: 0.75rem;
  }
  
  .language-toggle {
  display: inline-flex;
  overflow: hidden;
}

.language-toggle button {
  padding: 0.3rem 0.75rem;
  cursor: pointer;
  font-size: 0.8rem;
}

.language-toggle button.active {
  background-color: white;
  color:#6f3037;
}

  /* Left panel arriba */
  .left-panel {
    order: -1;
  }

  .left-toggle {
    display: block;
    margin-bottom: 0.75rem;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #6f3037;
    background: none;
    cursor: pointer;
  }

  .left-content {
    display: none;
  }

  .left-panel.open .left-content {
    display: block;
  }

  /* Menú horizontal scrollable */
  .right-panel-menu {
    display: flex;
    gap: 0.75rem;
    overflow-x: auto;
    padding-bottom: 1rem;
  }

  .right-panel-menu button {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {

   .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem 1rem;
  }

  .header-interests {
    justify-content: center;
  }

  .profile-picture {
    width: 140px;
    height: 140px;
    margin-bottom: 0;
    margin-top: 2rem;
  }

  .left-panel.open {
    max-width: 70%;
  }

  article h3 {
    font-size: 0.9rem;
    letter-spacing: 2px;
  }

  .job-header {
    padding: 0.5rem;
  }

  .skill-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .right-panel {
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    padding-right: 0.3rem;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .right-panel * {
    max-width: 100%;
  }

  .right-panel-menu {
     display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
  }

  .right-panel-menu button {
    width: 50%;
  }

  .job-header .divider-job {
    display: none;
  }

  .job-role {
    font-weight: 600;
    font-size: 1rem;
  }

  .job-company {
    font-size: 0.95rem;
    opacity: 0.85;
    color: #333333;
  }

  .period {
    font-size: 0.85rem;
    opacity: 0.7;
    margin-left: 0 !important;
  }

  .job-header * {
    max-width: 100%;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    padding: 0;
  }

  .job-title-row {
    line-height: normal;
  }

  .left-panel-toggle {
    top: 53%;
  }
}
